.glass {
  /* Blur effect */
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  /* Semi-transparent background for darkness */
  background: rgba(0, 0, 0, 0.6); /* Adjust the opacity as needed */

  box-shadow:
    /* Bottom and right depth effect */
    inset -0.75px -0.5px rgba(255, 255, 255, 0.1),
    /* Top and left depth effect */
    inset +0.75px +0.5px rgba(255, 255, 255, 0.025),
    /* Shadow effect */
    3px 2px 10px rgba(0, 0, 0, 0.25),
    /* Short subsurface effect */
    inset 0px 0px 10px 5px rgba(255, 255, 255, 0.025),
    /* Long subsurface effect */
    inset 0px 0px 40px 5px rgba(255, 255, 255, 0.025);

  /* Round the corners */
  border-radius: 5px;

  /* Hide the corners of the header */
  overflow: hidden;
}

.light {
   /* Adjust the intensity */
   opacity: 0.075;

   /* Fill the background space */
   position: absolute;
   bottom: 0;
   left: 0;
   right: 0;
   top: 0;

   /* Render behind other children */
   z-index: -1;
}

.drag-me {
  /* Center the content */
  display: flex;
  align-items: center;
  justify-content: center;

  /* Size the content */
  height: 30px;

  /* Add a transparent background */
  background-color: rgba(12, 13, 14, 0.75);
}